# 1. Dependencias 
node_modules/
**/node_modules/

# 2. Archivos de Compilado y Build
# NestJS
dist/
**/dist/

# Angular
.angular/
**/.angular/
out-tsc/

# 3. Variables de Entorno y Claves (.env)
.env
*.env
!.env.example

# 4. Logs y Archivos Temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tmp

# 5. Archivos del Sistema Operativo y del Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
